$dark-color: #19232d;
$primary-color: #dcbb87;

// start faq_section
.faq_section {
  padding: 60px 0;
  background-color: #f5f3f1;

  .subtitle {
    font-size: 20px;
    color: $primary-color;
    font-weight: 500;
    text-align: center;
  }

  .title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  .line {
    display: flex;
    gap: 40px;
    margin-top: 50px;

    .left,
    .right {
      width: 50%;
    }

    .accordion {
      .accordion-item {
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
        // border: 1px solid rgb(217, 217, 217);
        border-radius: 5px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .accordion-button {
          border: none;
          border-radius: 7px;
          font-weight: 600;

          &:not(.collapsed) {
            background-color: $primary-color !important;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .faq_section {
    padding: 30px 0;

    .subtitle {
      font-size: 15px;
    }

    .title {
      font-size: 20px;
    }

    .line {
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;

      .left,
      .right {
        width: 100%;
      }

      .accordion {
        .accordion-item {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          .accordion-button {
            font-size: 14px;
            padding: 10px;
          }

          .accordion-body {
            padding: 8px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
// end faq_section
